red-server/flow-tlodge-1476964520207.flow
[{"type":"tab","id":"7f2829fb.34dc18","label":"new package"},{"id":"afa2195e.e60d48","type":"function","z":"7f2829fb.34dc18","name":"externaltest","func":"var moment=require(\"moment\");\n\nreturn {\n    sourceId:\"afa2195e.e60d48\",\n    type: \"text\",\n    payload:{\n        values: \"ONE!!seems to work better now maybe 12+++......so AND the time is now...\" + moment(msg.payload.timestamp).format('h:mm:ss a')\n    }\n}","outputs":1,"noerr":0,"x":431,"y":486,"wires":[["9cd792be.abe26"]]},{"id":"9cd792be.abe26","type":"app","z":"7f2829fb.34dc18","name":"the time","appId":"webapp","layout":[["afa2195e.e60d48"]],"x":711,"y":508,"wires":[]},{"id":"3e1d1cd9.72f2b4","type":"inject","z":"7f2829fb.34dc18","name":"inject","topic":"","payload":"","payloadType":"date","repeat":1,"crontab":"","once":false,"x":175,"y":364,"wires":[["afa2195e.e60d48"]]}]